<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <appSettings>
        <add key="ActorCenterType" value="master" />
        <add key="ActorCenterName" value="master-001" />
        <add key="ActorCenterAddress" value="127.0.0.1" />
        <add key="ActorCenterPort" value="12345" />
        <add key="ActorType" value="chat" />
        <add key="ActorName" value="chat-001" />
        <add key="ActorAddress" value="127.0.0.1" />
        <add key="ActorPort" value="45678" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <nlog throwExceptions="true">
        <targets>
            <target name="console" type="ColoredConsole" encoding="utf-8" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" useDefaultRowHighlightingRules="true">
            </target>
            <target name="file" type="File" fileName="${basedir}/logs/Test-${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="console" />
            <logger name="*" minlevel="Warn" writeTo="file" />
        </rules>
    </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>